<% include partials/header.ejs %>
    <div class="container">
        <% if (locals.message) { %>
            <% if (message != '') { %>
                <p class="text-center text-danger"><%= message %></p>
            <% } %>
        <% } %>
        <form class="add-user-form" action="" method="post">
            <div class="form-row"> 
                <div class="form-group col-md-4">
                    <% if (locals.username) {%>
                        <input type="text" class="form-control" name="username" id="username" value=<%=username%> placeholder="Username" required>
                    <% } else { %>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                    <% } %>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Login</button>
        </form>
    </div>
</div>
</body>
</html>
